.content-link {
  width: calc(100% - 20%);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

/*! estilos de tabla front  */
.container-table {
  width: 100%;
  margin-top: calc(100% - 95%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 70%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(237, 245, 252);
  border-radius: 10px;
}

.container {
  width: 60%;
}
.content-user img {
  width: 10%;
  border-radius: 50%;
}

.content-message a {
  all: unset;
  color: lightblue;
  font-weight: bold;
}
.content-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.6rem;
}

.content-button span {
  text-align: left;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content-button button {
  margin: 0.5rem;
}

/*! estilos de front*/
.name span {
  margin-left: 2rem;
  animation: name 3s infinite alternate;
}

@keyframes name {
  from {
    transform: scale(1);
    opacity: 0;
  }
  to {
    transform: scale(1.1);
    opacity: 1;
  }
}

.content-response {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  width: 100%;
  margin-top: 1rem;
  border: 2px solid black;
  box-shadow: 5px 5px 0 black;
}

.question-content {
  border: 2px solid black;
  background: linear-gradient(
    90deg,
    rgba(247, 240, 240, 1) 0%,
    rgba(29, 178, 221, 1) 100%
  );
  margin-bottom: 1rem;
  box-shadow: 5px 5px 0 black;
}
